*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  margin-top: 0;
}
body
{
width:100%;
height:100%;
margin: 0;
margin-top: 0;
}

.container
{
  margin-top: 0;
}

/*body::before {
    display: block;
    content: '';
    height: 60px;
}*/
  
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    height: 300px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  
  
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  
  
  .fixed button
  {
    position: relative;
    top: 80px;
  }
  .slideshow-container
  {
    overflow: hidden;
  }
  

  .mlogo
  {
    padding-top: 0;
  }

  @media screen and(max-width:1201px) {
    .abc
    {
      margin-left: 150px;
    }
    
  }


  .navbar-brand
  {
    margin:0%;
    padding:0%
  }
  .logo{
    height: 10px;
    padding-bottom: 10px;
  }
 

 

  @media only screen and (min-width: 768px) and (max-width: 992px) 
  {

    .list1 a,input
    {
      font-size:smaller;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  @media only screen and (min-width: 992px)
  {
    .list1 a,input
    {
      margin-left: 20px;
    }
  }
  @media only screen and (min-width: 1200px)
  {
    .list1 a,input
    {
      margin-left: 30px;
    }
  }

  @media only screen and (min-width: 1400px)
  {
    .list1 a,input
    {
      margin-left: 45px;
    }
  }
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body
{
width:100%;
height:100%;
margin: 0;
}
.navbar-nav
{
 position: relative;   
 left: 60px;

}
img
{
    padding-left: 30px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 300px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}




}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.fixed button
{
  position: relative;
  top: 80px;
}
.slideshow-container
{
  overflow: hidden;
}

.sectionheading
{
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}
ul{
  list-style-type: none;
}
li
{
  margin-top: 10px;
}
